[submodule "conf_extra/bin/chrome-private"]
	path = conf_extra/bin/chrome-private
	url = git@github.com:sentriz/chrome-private.git
[submodule "conf_extra/bin/wl-gammactld"]
	path = conf_extra/bin/wl-gammactld
	url = git@github.com:sentriz/wl-gammactld.git
[submodule "conf_extra/bin/notify-send"]
	path = conf_extra/bin/notify-send
	url = git@github.com:vlevit/notify-send.sh.git
