[submodule "conf_extra/bin/chrome-private"]
	path = conf_extra/bin/chrome-private
	url = git@github.com:sentriz/chrome-private.git
[submodule "conf_extra/bin/wl-gammactld"]
	path = conf_extra/bin/wl-gammactld
	url = git@github.com:sentriz/wl-gammactld.git
[submodule "conf_extra/bin/notify-send"]
	path = conf_extra/bin/notify-send
	url = git@github.com:vlevit/notify-send.sh.git
[submodule "conf_common/.local/share/nvim/site/pack/look/opt/atimholt/spiffy_foldtext"]
	path = conf_common/.local/share/nvim/site/pack/look/opt/atimholt/spiffy_foldtext
	url = https://github.com/atimholt/spiffy_foldtext
[submodule "conf_common/.local/share/nvim/site/pack/look/opt/tpope/vim-vinegar"]
	path = conf_common/.local/share/nvim/site/pack/look/opt/tpope/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/christoomey/vim-tmux-navigator"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/christoomey/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/inkarkat/SyntaxAttr.vim"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/inkarkat/SyntaxAttr.vim
	url = https://github.com/inkarkat/SyntaxAttr.vim
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/machakann/vim-highlightedyank"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/machakann/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/neovim/nvim-lsp"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/neovim/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/rhysd/committia.vim"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/rhysd/committia.vim
	url = https://github.com/rhysd/committia.vim
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/romainl/vim-qf"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/romainl/vim-qf
	url = https://github.com/romainl/vim-qf
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/sheerun/vim-polyglot"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/sheerun/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/tommcdo/vim-exchange"]
	path = conf_common/.local/share/nvim/site/pack/text/opt/tommcdo/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-abolish"]
	path = conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-commentary"]
	path = conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-repeat"]
	path = conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-surround"]
	path = conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/wellle/targets.vim"]
	path = conf_common/.local/share/nvim/site/pack/text/opt/wellle/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "conf_common/.local/share/nvim/site/pack/look/opt/Lokaltog/vim-monotone"]
	path = conf_common/.local/share/nvim/site/pack/look/opt/Lokaltog/vim-monotone
	url = https://github.com/Lokaltog/vim-monotone
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/sentriz/vim-print-debug"]
	path = conf_common/.local/share/nvim/site/pack/text/opt/sentriz/vim-print-debug
	url = https://github.com/sentriz/vim-print-debug
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/nvim-lua/popup.nvim"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/nvim-lua/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/nvim-lua/plenary.nvim"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/nvim-lua/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/nvim-lua/telescope.nvim"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/nvim-lua/telescope.nvim
	url = https://github.com/nvim-lua/telescope.nvim
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/nvim-lua/completion-nvim"]
	path = conf_common/.local/share/nvim/site/pack/meta/opt/nvim-lua/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
