#meta
private
install_private
misc

#vim
public_common/.vim/bundle/
public_common/.vim/.netrwhist

#misc
public_extra/.ncmpcpp/error.log

#fish
public_common/.config/fish/fishd.*
public_common/.config/fish/*history*

#fisherman
public_common/.config/fish/functions/__*
public_common/.config/fish/functions/*.awk
public_common/.config/fish/functions/*.awk
public_common/.config/fish/functions/await.fish
public_common/.config/fish/functions/get.fish
public_common/.config/fish/functions/getopts.fish
public_common/.config/fish/functions/last_job_id.fish
public_common/.config/fish/conf.d

#probably made on first run of fisher func, which is not in gitignore
public_common/.config/fish/completions/fisher.fish
public_common/.config/fish/completions/get.fish
