private
install_private
misc
public_common/.vim/bundle/
public_common/.vim/.netrwhist
public_extra/.ncmpcpp/error.log

public_common/.config/fish/functions/*
public_common/.config/fish/fishd.*
public_common/.config/fish/conf.d
public_common/.config/fish/completions

!public_common/.config/fish/functions/confirm.fish
!public_common/.config/fish/functions/extract.fish
!public_common/.config/fish/functions/fish_prompt.fish
!public_common/.config/fish/functions/fish_right_prompt.fish
!public_common/.config/fish/functions/fish_title.fish
!public_common/.config/fish/functions/fish_user_key_bindings.fish
!public_common/.config/fish/functions/keyc.fish
!public_common/.config/fish/functions/l.fish
!public_common/.config/fish/functions/ll.fish
!public_common/.config/fish/functions/play.fish
!public_common/.config/fish/functions/start_tunnels.fish
!public_common/.config/fish/functions/swap.fish
!public_common/.config/fish/fishfile
