[submodule "conf_extra/bin/wl-gammactld"]
	path = conf_extra/.local/bin/wl-gammactld
	url = git@github.com:sentriz/wl-gammactld.git
[submodule "conf_extra/bin/notify-send"]
	path = conf_extra/.local/bin/notify-send
	url = git@github.com:vlevit/notify-send.sh.git
[submodule "conf_common/.local/share/nvim/site/pack/look/opt/tpope/vim-vinegar"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/christoomey/vim-tmux-navigator"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-commentary"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-repeat"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/tpope/vim-surround"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "conf_common/.local/share/nvim/site/pack/text/opt/sentriz/vim-print-debug"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-print-debug
	url = https://github.com/sentriz/vim-print-debug
[submodule "conf_common/.config/fish/plugins/jethrokuan/fzf"]
	path = conf_common/.config/fish/plugins/fzf
	url = https://github.com/jethrokuan/fzf
[submodule "conf_common/.config/fish/plugins/jethrokuan/z"]
	path = conf_common/.config/fish/plugins/z
	url = https://github.com/jethrokuan/z
[submodule "conf_common/.local/share/nvim/site/pack/meta/opt/nvim-treesitter/nvim-treesitter"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/vim-sleuth"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/vim-surround"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/vim-exchange"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/vim-oscyank"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-oscyank
	url = https://github.com/ojroques/vim-oscyank
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/nvim-cmp"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/cmp-buffer"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/cmp-path"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/vim-vsnip"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "conf_common/.config/fish/plugins/mattgreen/park.fish"]
	path = conf_common/.config/fish/plugins/park.fish
	url = https://github.com/mattgreen/park.fish
[submodule "conf_common/.config/fish/plugins/brgmnn/fish-docker-compose"]
	path = conf_common/.config/fish/plugins/fish-docker-compose
	url = https://github.com/brgmnn/fish-docker-compose
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/null-ls.nvim"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/cmp-tmux"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/cmp-tmux
	url = https://github.com/andersevenrud/cmp-tmux
[submodule "conf_common/.config/fish/plugins/franciscolourenco/done"]
	path = conf_common/.config/fish/plugins/done
	url = https://github.com/franciscolourenco/done
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/nvim-treesitter-context"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/nvim-treesitter-context
	url = https://github.com/romgrk/nvim-treesitter-context
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/nvim-dap"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/QFEnter"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/QFEnter
	url = https://github.com/yssl/QFEnter
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/nvim-treehopper"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/nvim-treehopper
	url = https://github.com/mfussenegger/nvim-treehopper
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/cmp-vsnip"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "conf_common/.local/share/nvim/site/pack/plugins/start/mini.nvim.git"]
	path = conf_common/.local/share/nvim/site/pack/plugins/start/mini.nvim.git
	url = https://github.com/echasnovski/mini.nvim.git
