tpset() { xinput set-prop "TPPS/2 IBM TrackPoint" "$@"; }
tpset "Evdev Wheel Emulation" 1 &
tpset "Evdev Wheel Emulation Button" 2 &
tpset "Evdev Wheel Emulation Timeout" 200 &
tpset "Evdev Wheel Emulation Axes" 6 7 4 5 &
tpset "Device Accel Constant Deceleration" 0.25 &

setxkbmap ie
xmodmap -e "keycode 166 = F13"
xmodmap -e "keycode 167 = F14"
xmodmap -e "keycode 66 = F15"
xmodmap -e "clear Lock"
xset r rate 300 &

dock_watch &

# dock_watch only checks for file movments to avoid the "delete_self" event
touch /tmp/abc
if grep "1" /sys/devices/platform/dock.*/docked; then
    sleep 1
    mv /tmp/abc /tmp/docked
else
    mv /tmp/abc /tmp/not_docked
fi


feh --bg-scale /usr/share/wallpapers/.wallpaper.jpg &
xrandr --output LVDS1 --primary &
thinkpad-touchpad off &
urxvtd &
redshift-gtk &
xautolock -locker '/home/senan/bin/blur_lock' &
megasync &
clipit &
mnemosyne &
mpd &
mpdscribble &
unclutter &
dunst &
transmission-daemon &
