tpset() { xinput set-prop "TPPS/2 IBM TrackPoint" "$@"; }
tpset "Evdev Wheel Emulation" 1 &
tpset "Evdev Wheel Emulation Button" 2 &
tpset "Evdev Wheel Emulation Timeout" 200 &
tpset "Evdev Wheel Emulation Axes" 6 7 4 5 &
tpset "Device Accel Constant Deceleration" 0.957 &

setxkbmap ie &
xmodmap -e "keycode 166 = F13" &
xmodmap -e "keycode 167 = F14" &
xmodmap -e "keycode 66 = F15" &
xmodmap -e "clear Lock" &

home="/home/senan"

$home/bin/battery_thres &
feh --bg-scale /usr/share/wallpapers/.wallpaper.jpg &
xrandr --output LVDS1 --primary &
thinkpad-touchpad off &
urxvtd &
urxvtc -name scratch &
thunar --daemon &
xautolock -locker '$home/bin/blur_lock' -notify 10 -notifier 'notify-send xautolock "locking in 10 seconds"' &
megasync &
clipit &
mnemosyne &
mpd &
mpdscribble &
unclutter &
dunst &
transmission-daemon &
