Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.font: xft:bitstream vera sans mono:size=8:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=8:antialias=true
URxvt.scrollBar: false
URxvt.foreground: white
URxvt.background: black
URxvt.letterSpace: -1
URxvt.urgentOnBell: true
URxvt.dynamicColors: on

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

*.foreground:   #f2f2ef
*.background:   #303030

*.color0:       #303030
*.color1:       #aa4450
*.color2:       #719611
*.color3:       #ff9800
*.color4:       #6688aa
*.color5:       #8f6f8f
*.color6:       #528b8b
*.color7:       #d3d3d3
*.color8:       #272822
*.color9:       #ff6a6a
*.color10:      #b1d631
*.color11:      #87875f
*.color12:      #90b0d1
*.color13:      #8181a6
*.color14:      #87ceeb
*.color15:      #c1cdc1
*.cursorColor:  #c2c2b0

URxvt.colorIT:  #719611
URxvt.colorBD:  #d3d3d3
URxvt.colorUL:  #528b8b
