Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.font: xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true
URxvt.scrollBar: false
URxvt.foreground: white
URxvt.background: black
URxvt.letterSpace: -1
URxvt.urgentOnBell: true

URxvt.perl-ext-common: fullscreen

URxvt*color0:  #000000 // black
URxvt*color1:  #B40000 // red
URxvt*color2:  #00AA00 // green
URxvt*color3:  #AAAA00 // yellow
URxvt*color4:  #0088CC // blue
URxvt*color5:  #AA00AA // magenta
URxvt*color6:  #00AAAA // cyan
URxvt*color7:  #AAAAAA // white
URxvt*color8:  #555555 // bright black
URxvt*color9:  #FF0000 // bright red
URxvt*color10: #00FF00 // bright green
URxvt*color11: #FFFF00 // bright yellow
URxvt*color12: #0088CC // bright blue
URxvt*color13: #FF00FF // bright magenta
URxvt*color14: #00FFFF // bright cyan
URxvt*color15: #FFFFFF // bright white
