[Unit]
Description=kbfs
Wants=keybase.service keybase-redirector.service

[Service]
Type=notify
EnvironmentFile=-%t/keybase/keybase.kbfs.env
EnvironmentFile=-%h/.config/keybase/keybase.autogen.env
EnvironmentFile=-%h/.config/keybase/keybase.env
ExecStartPre=-/bin/sh -c 'fusermount -uz "$(keybase config get -d -b mountdir)"'
ExecStart=/usr/bin/kbfsfuse -debug -log-to-file
ExecStop=-/bin/sh -c 'fusermount -uz "$(keybase config get -d -b mountdir)"'
Restart=on-failure

[Install]
WantedBy=default.target
