[Unit]
Description=keychain

[Service]
Type=oneshot
ExecStart=/usr/bin/keychain --gpg2 --agents ssh,gpg
RemainAfterExit=true
ExecStop=/usr/bin/keychain --stop all
StandardOutput=journal

[Install]
WantedBy=default.target
