[Desktop Entry]
Version=1.0
Name=Google Chrome (Jellyfin)
GenericName=Web Browser
StartupWMClass=Google-chrome
Exec=google-chrome-stable --no-first-run --no-default-browser-check --disable-sync --profile-directory="__profile_jellyfin" --class="jellyfin" --app="https://jellyfin.senan.xyz" %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;AudioVideo;Audio;Music;
