[Desktop Entry]
Version=1.0
Name=Google Chrome (Facebook)
GenericName=Web Browser
StartupWMClass=Google-chrome
Exec=google-chrome-stable --no-first-run --no-default-browser-check --profile-directory="__profile_facebook" %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
StartupWMClass=Google-chrome
Exec=google-chrome-stable --no-first-run --no-default-browser-check --profile-directory="__profile_facebook"

[Desktop Action new-private-window]
Name=New Incognito Window
StartupWMClass=Google-chrome
Exec=google-chrome-stable --no-first-run --no-default-browser-check --profile-directory="__profile_facebook" --incognito
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
