[Desktop Entry]
Name=Insomnia
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 rest.insomnia.Insomnia
Terminal=false
Type=Application
Icon=rest.insomnia.Insomnia
StartupWMClass=Insomnia
X-AppImage-Version=2021.5.3
Comment=The Collaborative API Design Tool
MimeType=x-scheme-handler/insomnia;
Categories=Development;
X-Flatpak-RenamedFrom=insomnia.desktop;
X-Flatpak=rest.insomnia.Insomnia
