[Desktop Entry]
Version=1.1
Type=Application
Name=Sublime Music
Name[es]=Música Sublime
GenericName=Music Player
Comment=Native Subsonic client for Linux
Exec=/bin/sh -c "sublime-music >$HOME/.cache/sublime_log 2>&1"
Icon=sublime-music
Terminal=false
Categories=AudioVideo;Audio;Music;
