[Desktop Entry]
Name=Termite (Light)
Comment=Use the command line
Exec=termite --exec fish --config $HOME/.config/termite/config_light
Icon=utilities-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
