# requires:
# rsync_time_machine	https://github.com/laurent22/rsync-time-backup

[Unit]
Description=Backup containers

[Service]
Type=oneshot
ExecStart=/bin/sh -c ' \
	rsync_tm \
		/opt/containers/ \
		/mnt/extra/containers \
		/opt/containers/.backup-ignore 2>&1 \
	| mail -s "status for backup-containers.service" -- senan@senan.xyz \
'
