# requires:
# tarsnap	https://www.tarsnap.com/
# prunef	https://git.sr.ht/~apreiml/prunef

[Unit]
Description=Backup of important container data to tarsnap

[Service]
Type=oneshot
ExecStart=/bin/sh -c ' \
	tarsnap --list-archives \
	| grep "^%H_opt_" \
	| prunef \
		--keep-daily 7 \
		--keep-weekly 4 \
		--keep-monthly 6 \
		--keep-yearly 2 \
		"%H_opt_%%Y%%m%%d_%%H%%M%%S" \
	| sed "s/^/-f /" \
	| xargs \
		--no-run-if-empty \
		tarsnap -d 2>&1 \
	| mail -s "status for backup-tarsnap.service prune" -- senan@senan.xyz; \
	tarsnap \
		-c \
		-f "$(date "+%H_opt_%%Y%%m%%d_%%H%%M%%S")" \
		/opt/containers/bitwarden/data/db.sqlite3 \
		/opt/containers/bitwarden/data/attachments/ \
		/opt/containers/notes/db_data/sf.db \
		/opt/containers/firefox/data/syncserver.db \
		/opt/containers/.env \
		/opt/containers/.backup-ignore \
		/opt/containers/.up-ignore 2>&1 \
	| mail -s "status for backup-tarsnap.service backup" -- senan@senan.xyz; \
'
