[Unit]
Description=Backup of important container data to tarsnap

[Service]
Type=oneshot
ExecStart=/bin/sh -c ' \
	/usr/bin/tarsnap \
		--keyfile /root/.tarsnap.key \
		-c \
		-f "$(date '+sam_opt_%%Y%%m%%d_%%H%%M%%S')" \
		/opt/containers/bitwarden/data/ \
		/opt/containers/notes/db_data/ \
		/opt/containers/firefox/data \
		/opt/containers/__* \
'
