[Unit]
Description=Docker system prune

[Service]
Type=oneshot
ExecStart=/bin/sh -c ' \
	docker system prune -f 2>&1 \
	| mail -s "status for clean-docker.service" -- senan@senan.xyz \
'
