[Unit]
Description=Email media tree

[Service]
Type=oneshot
ExecStart=/bin/sh -c ' \
	find /mnt/media -type d \
	| mail -s "status for email-tree.service" -- senan@senan.xyz \
'
