[Unit]
Description=Restart mautrix-facebook container

[Service]
Type=oneshot
ExecStart=/bin/sh -c ' \
	/usr/bin/docker restart "$(/usr/bin/docker ps --filter "name=matrix_facebook_1" --format "{{.ID}}")" \
'
