[Unit]
Description=Start transmission container

[Service]
Type=oneshot
ExecStart=/bin/sh -c ' \
	cd /opt/containers/transmission && \
	docker-compose up -d \
'
