[user]
    email = senan@senan.xyz
    name = sentriz
    signingkey = 609FCE8BB45971C8293040AC9A8DAE1CA907B862
[push]
    default = current
[color]
    ui = true
    branch = true
    interactive = true
    status = true
[alias]
    c         = commit
    d         = diff
    l         = log --pretty=oneline --abbrev-commit
    s         = status
    addf      = !git add -- $(git ls-files --modified --others --exclude-standard | fzf -m)
    checkoutf = !git checkout -- $(git ls-files --modified --exclude-standard | fzf -m)
    fixupf    = !git commit --fixup=$(git log --pretty=oneline --abbrev-commit | fzf +s | awk '{print $1'})
    showf     = !git show $(git log --pretty=oneline --abbrev-commit | fzf +s | awk '{print $1'})
[diff "zip"]
    textconv = unzip -c -a
[diff]
    compactionHeuristic = true
    tool = vimdiff
[github]
    user = sentriz
[advice]
    statusHints = false
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    pager = less -r
[interactive]
    diffFilter = diff-highlight
[pull]
    rebase = true
[commit]
    gpgsign = true
[protocol "keybase"]
    allow = always
[status]
    short = true
    branch = true
[merge]
    tool = meld
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
