[user]
    email = senan.f.b.kelly+github@gmail.com
    name = sentriz
[push]
    default = matching
[color]
    ui = true
    branch = true
    interactive = true
    status = true
[help]
    autocorrect = true
[alias]
    c = commit
    s = status
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
[diff "zip"]
    textconv = unzip -c -a
[github]
    user = sentriz
[advice]
    statusHints = false
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
